{% extends 'base.html' %}
{% load static %}
{% load utils %}

<!-- Header -->
{% block title %}
        <title>Book a show</title>
        <link rel="stylesheet" href="{% static 'css/seat_selection2.css' %}">
        
        <style>
          .results{
            font-family: 'Lato', sans-serif;
          }
          .norounds{
            border-radius:0px;
          }
          .modal-content{
            background-color:black;
            color:white;
          }
          .sbodymodal{
            background-color:black;
          }
          .datebox{
            background-color:#000814;
            color:white;
            border-color:grey;
          }
        </style>
        
{% endblock title %}

<!-- Content -->
{% block content %}
<div class="container" id="movie-content">

  
    <div class="row">
        <h2 class="text-primary"  >Select Showtime</h2>
    </div>
    <div class="row">
        <form method="get" action="#" id="dateform">
            <div class="form-group row">
                <label for="selectdate" class="text-secondary col-sm-2 col-form-label">Select Date</label>
                <div class="col-sm-4">
                <input type="date"  name="date" class="form-control datebox"  value="{% if date %}{{ date }}{% else %}{{"%Y-%m-%d"|cdateadd:"1" }}{% endif %}"   min="{{ "%Y-%m-%d"|cdateadd:"1" }}" max="{{ "%Y-%m-%d"|cdateadd:"30" }}" id="selectdate" value="">
                </div>
                
            </div>
            <hr>
        </form>
    </div>
    <div class="row">
        <!-- results -->
        <div class="container col-md-8 results" >
          <p class="text-secondary">Movies showing on <b>{{ date }}</b> </p>
            {% if films %}
                {% for key, value in films.items %} 
                    <div class="row" >
                        <div class="col-md-2">
                          <img class="img-fluid "  style="margin:10px;" src="{{value|get:"url"}}">
                        </div>
                        <div class="col-md-10">
                          <h1>{{ key }}</h1>
                          <div class="form-group">
                            {% for showid,time in value|get:"showtimes"|items %}
                              <a class="btn btn-primary showtimebtn" style="padding-left:20px;padding-right:20px;" data-showid="{{ showid }}" data-showtime="{{ time|tformat:"%I:%M %p" }}" data-moviename="{{ key }}" href="#" onclick="return selectShowtime(this);">{{ time|tformat:"%I:%M %p" }}</a>
                            {% endfor %}
                          </div>
                        </div>
                    </div>

                {% endfor %}
            {% else %}
                <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading">No Shows Available</h4>
                    <p>No movies are showing on <strong>{{ date }}</strong>.</p>
                    <p>Please select a different date to view available shows.</p>
                </div>
            {% endif %}
        </div>
       
    </div>


</div>
{% endblock content %}

<!-- JS -->
{% block js%}

<script >
  $( document ).ready(function() {
    // update movies based on 
    
    
    $("#selectdate").change(function() {
        console.log($(this).val());
        console.log("date changed");
        $("#dateform").submit();
    });

    function selectShowtime(element) {
      var show_id = $(element).attr("data-showid");
      var show_date = $("#selectdate").val();
      var show_time = $(element).attr("data-showtime");
      var movie_name = $(element).attr("data-moviename");
      
      // Redirect to seatselect page with parameters
      window.location.href = "/seatselect?show_id=" + encodeURIComponent(show_id) + 
                             "&show_date=" + encodeURIComponent(show_date) + 
                             "&show_time=" + encodeURIComponent(show_time) + 
                             "&movie_name=" + encodeURIComponent(movie_name);
      return false;
    }

    $(".showtimebtn").click(function(){
      return selectShowtime(this);
    });
    

    $(".seat").click(function (){
      if (!$(this).hasClass("occupied")){
        //if ($(this).hasClass("selected")){
        console.log($(this).attr("sno"));
        $(this).toggleClass("selected"); //toggles selected class
        seats();
      }
    });


    function seats(){
      // updates seats input field with selected seats
      var selected=[];
       $(".seat").each(function( index ) {
        if ($(this).hasClass("selected")){
          selected.push($(this).attr("sno"));
        }
      });
      console.log(selected);
      $("#seats_input").val(selected);
      return selected;
    }

    // Seat count change: enforce limit and adjust selection
    $("#seat_count").change(function(){
      var desired = parseInt($(this).val()) || 1;
      var selected = seats();
      if (selected.length > desired){
        // unselect extras (keep earliest selected)
        var keep = selected.slice(0, desired);
        $(".seat").each(function(){
          var s = $(this).attr('sno');
          if ($(this).hasClass('selected') && keep.indexOf(s) === -1){
            $(this).removeClass('selected');
          }
        });
      } else if (selected.length < desired){
        // select additional available seats
        var need = desired - selected.length;
        $(".seat").each(function(){
          if (need <= 0) return;
          if (!$(this).hasClass('occupied') && !$(this).hasClass('selected')){
            $(this).addClass('selected');
            need -= 1;
          }
        });
      }
      seats();
    });

    // Enforce selection limit on manual seat clicks
    $(".seat").off('click').on('click', function (){
      var desired = parseInt($("#seat_count").val()) || 1;
      if (!$(this).hasClass("occupied")){
        if (!$(this).hasClass('selected')){
          // trying to select
          var cur = $(".seat.selected").length;
          if (cur >= desired){
            // don't allow more than desired
            return; 
          }
          $(this).addClass('selected');
        } else {
          // deselect
          $(this).removeClass('selected');
        }
        seats();
      }
    });

    // Support ?seats=N in URL to preset seat_count
    (function(){
      try{
        var params = new URLSearchParams(window.location.search);
        var s = params.get('seats');
        if (s){
          var val = parseInt(s);
          if (!isNaN(val) && val >=1 && val <=6){
            $('#seat_count').val(val);
          }
        }
      }catch(e){ }
    })();
});
</script>
{% endblock js%}