/* .srow .seat {
  height: 15px !important;
  width: 18px !important;
  margin: 2px !important;
}

.seatindex {
  width: 20px;
  margin-right: 5px;
  font-size: 12px;
  color: white;
}

.seatnumber {
  width: 18px;
  font-size: 10px;
  text-align: center;
  color: #ccc;
}

.screen {
  height: 20px;
} */
